.scrollable-container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    padding: 0 1rem;
}

.border-bottom {
    border-bottom: 0.0625rem solid hsl(var(--border-color));
}

.border-top {
    border-top: 0.0625rem solid hsl(var(--border-color));
}

.border-left {
    border-left: 0.0625rem solid hsl(var(--border-color));
}

.border-right {
    border-right: 0.0625rem solid hsl(var(--border-color));
}

@media screen and (max-width: 48rem) {
    .scrollable-container {
        padding: 0;
        width: 100%;
        overflow: visible;
    }
}

