.theme-toggle {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.25rem;
	padding: 0.25rem;
	line-height: 1.25;
	transition: opacity var(--transition-duration) var(--transition-easing);
	color: hsl(var(--foreground));
	opacity: 0.7;
}

.theme-toggle:hover {
	opacity: 1;
}

