@import "../shared.css";

.video-header {
	align-items: flex-start;
	margin-bottom: var(--spacing-small);
}

.video-title-link {
	font-size: 1.1rem;
}

.video-thumbnail-container {
	display: block;
	margin-bottom: var(--spacing-small);
	position: relative;
	width: 100%;
	border-radius: var(--radius);
	overflow: hidden;
	text-decoration: none;
	transition: transform var(--transition-duration) var(--transition-easing);
}

.video-thumbnail-wrapper {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%; /* 16:9 aspect ratio */
	overflow: hidden;
}

.video-thumbnail-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-radius: var(--radius);
}

.video-description-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background: linear-gradient(
		to top,
		var(--video-overlay-gradient-start) 0%,
		var(--video-overlay-gradient-mid) 50%,
		var(--video-overlay-gradient-end) 85%
	);
	padding: var(--video-overlay-padding-top) var(--video-overlay-padding-sides) var(--video-overlay-padding-sides) var(--video-overlay-padding-sides);
	color: hsl(var(--video-overlay-text-color));
	font-size: var(--video-overlay-font-size);
	line-height: var(--video-overlay-line-height);
	opacity: 0;
	transition: opacity var(--transition-duration) var(--transition-easing);
	pointer-events: none;
}

.video-thumbnail-container:hover .video-description-overlay {
	opacity: 1;
}

.video-description-mobile {
	display: none;
	margin-top: var(--spacing-small);
	margin-bottom: var(--spacing-medium);
	line-height: 1.4em;
	font-size: var(--video-overlay-font-size);
}

@media (hover: none) {
	.video-description-overlay {
		display: none;
	}

	.video-description-mobile {
		display: block;
	}

	.video-thumbnail-container:hover {
		transform: none;
	}
}

