.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.centered {
  display: flex-column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .full-height {
    min-height: 100vh;
  }
  
  .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  }
  
  .social-icon {
    margin: 0 0.5em;
    width: 2em;
    height: 2em;
  }